<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" id="logo" class="navbar-item is-uppercase is-size-4 has-text-black-bis">
        Nadia Bueri  
        <i class="fas fa-camera-retro" style="margin-left:.5rem;"></i>
        </a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="https://www.instagram.com/nanibueri.ph/">
            <i class="fab fa-instagram is-size-4"></i>
        </a>
    </div>
</nav>