<div id="preloader">
    <div class="lds-ripple"><div></div><div></div></div>
</div>

<section class="hero is-fullheight ">
    {{!-- Navbar --}}
    {{>navbar}}
    {{!-- Termina navbar --}}
    <div class="hero-body bg-img">
        <div class="container header-home ">
            <h1 data-aos="fade-in" class="title  is-size-1 has-text-warning">
                Bueri Nadia
            </h1>
            <h2 data-aos="fade-out"  class="subtitle  is-size-4 has-text-warning">
                Fotografa Amateur
            </h2>
        </div>
    </div>
</section>
<div class="container tab-nav">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="tabs is-centered ">
        <ul>
            <li class="list-item-tab is-active"><a class='filter' href="#" >Todo</a></li>
            <li class="list-item-tab"><a class='filter' href="#" >Paisaje</a></li>
            <li class="list-item-tab"><a class='filter' href="#"  >Retrato</a></li>
            <li class="list-item-tab"><a class='filter'  href="#" >Animales</a></li>
            <li class="list-item-tab"><a class='filter'  href="#" >Otro</a></li>
        </ul>
    </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image is-4by3">
          <img class="modal-image" src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>


</div>
<div class="container" style="margin-top:3rem;margin-bottom:3rem;">
    <div id="container-img">
        {{!-- Aca se traen las fotos con llamados AJAX-JSON --}}
    </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img class='img-modal' src="https://bulma.io/images/placeholders/1280x960.png" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{{>footer}}
