 {{!-- {{#each images}}
    <h2>{{title}}</h2>
    <h2>{{image}}</h2>
    <img src="{{image}}" alt="">
  {{/each}} --}}

 
 
 <form action="/images" method='post' enctype="multipart/form-data">
  title:<br>
  <input type="text" name="title" value="Titulo"><br>
  description:<br>
  <input type="text" name="desc" value="description"><br>
  Tags<br>
  <input type="text" name="tags" value="tags"><br>
  Image<br>
  <input type="file" name="image" value="tags"><br>
  Url<br>
  <input type="submit" value="Submit">
</form> 